.app-container {
  background-color: rgba(247, 243, 243, 0.7);
  color: rgb(13, 13, 13);
  font-family: 'Roboto', sans-serif;
  padding: 0px;
}

nav {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.9);
}

nav ul {
  list-style-type: none;
  padding: 0px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  font-size: 30px; /* Slightly increased font size */
}


nav ul li a {
  color: #b91d85; /* Spotify Green */
  text-decoration: none;
  transition: all 0.3s ease; /* Smooth transition */
}

nav ul li a:hover {
  text-decoration: underline; /* Underline text */
  background-color: #333; /* Dark background */
  border-radius: 4px; /* Rounded corners */
  padding: 2px 6px; /* Some padding */
}
